<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="team" data-background="img/01.jpg">
		<div class="container">
			<div class="row">
				<br><br><br>
				<div class="section-head text-center col-sm-12">
					<h4>WEB DESIGN</h4>
					<h2>OUR <span class="pink">TALENTED</span> TEAM</h2>
					<br><br>
				</div>
				<div class="item col-md-4">
					<div class="hover3d">
						<div class="hover3d-child">
							<div class="team-img">
								<img src="img/01.jpg" class="img-responsive" alt="">
							</div>
							<div class="info">
								<div>
									<h5>Alex Smith</h5>
									<span>Project Manager</span>
									<p>
										人难免天生有自怜情绪，唯有时刻保持清醒，才能看清真正的价值在哪里。
									</p>
									<div class="social">
										<a href="https://www.bilibili.com/video/av68148870" class="icon">
											<i class="fa fa-facebook"></i>
										</a>
										<a href="https://www.bilibili.com/video/av68148870" class="icon">
											<i class="fa fa-twitter"></i>
										</a>
										<a href="https://www.bilibili.com/video/av68148870" class="icon">
											<i class="fa fa-behance"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item col-md-4">
					<div class="hover3d">
						<div class="hover3d-child">
							<div class="team-img">
								<img src="img/01.jpg" class="img-responsive" alt="">
							</div>
							<div class="info">
								<div>
									<h5>Alex Smith</h5>
									<span>Project Manager</span>
									<p>
										人难免天生有自怜情绪，唯有时刻保持清醒，才能看清真正的价值在哪里。
									</p>
									<div class="social">
										<a href="https://www.bilibili.com/video/av68148870" class="icon">
											<i class="fa fa-facebook"></i>
										</a>
										<a href="https://www.bilibili.com/video/av68148870" class="icon">
											<i class="fa fa-twitter"></i>
										</a>
										<a href="https://www.bilibili.com/video/av68148870" class="icon">
											<i class="fa fa-behance"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item col-md-4">
					<div class="hover3d">
						<div class="hover3d-child">
							<div class="team-img">
								<img src="img/01.jpg" class="img-responsive" alt="">
							</div>
							<div class="info">
								<div>
									<h5>Alex Smith</h5>
									<span>Project Manager</span>
									<p>
										人难免天生有自怜情绪，唯有时刻保持清醒，才能看清真正的价值在哪里。
									</p>
									<div class="social">
										<a href="https://www.bilibili.com/video/av68148870" class="icon">
											<i class="fa fa-facebook"></i>
										</a>
										<a href="https://www.bilibili.com/video/av68148870" class="icon">
											<i class="fa fa-twitter"></i>
										</a>
										<a href="https://www.bilibili.com/video/av68148870" class="icon">
											<i class="fa fa-behance"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
		</div>
</section>
</body>
</html>